<ul class="container students list-unstyled">
  <% @students.each_with_index do |student, id| %>
    <li class="students-list-item">
      <figure class="student-card">
        <div class="card-front card-front-0">
          <%= image_tag "batches/batch-#{@batch.name}/#{student.picture}", class: "img-responsive" %>
        </div>
        <div class="card-back card-back-0">
          <div class="card-wrapper">
            <h2><%= student.first_name %></h2>

            <figcaption>

              <% link_to student.portfolio_url, target: '_blank' do %>
                <i class='mdi-link-variant mdi'></i>
              <% end %>

              <% if student.github_url %>
                <% link_to student.github, target: '_blank' do %>
                  <i class='mdi-github-circle mdi'></i>
                <% end %>
              <% end %>

            </figcaption>
            <% if false %>
              <% if student.fake && student.home %>
                <% link_to root do %>
                  <button class="wagon-btn-style">Home</button>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </figure>
    </li>

  <% end %>
</ul>
