<ul class="container students list-unstyled">
  <% @students.each_with_index do |student, id| %>

    <li class="students-list-item">
      <figure class="student-card">
        <div class="card-front card-front-<%= animation %>">
          <%= image_tag "batches/batch-#{student.batch_id}/#{student.picture}", class: "img-responsive" %>
        </div>
        <div class="card-back card-back-<%= animation %>">
          <div class="card-wrapper">
            <h2><%= student.name %></h2>

            <% unless student.fake %>
              <figcaption>

                <% link_to student.portfolio_url, target: '_blank' do %>
                  <i class='mdi-link-variant mdi'></i>
                <% end %>

                <% if student.github_url %>
                  <% link_to student.github, target: '_blank' do %>
                    <i class='mdi-github-circle mdi'></i>
                  <% end %>
                <% end %>

              </figcaption>
            <% end %>
            <% if student.fake && student.home %>
              <% link_to '../../' do %>
                <button class="wagon-btn-style">Home</button>
              <% end %>
            <% end %>
          </div>
        </div>
      </figure>
    </li>

  <% end %>
</ul>
