<div class="section_under-searchbar">
  <h2 class="text-center">
    <%= image_tag "le-wagon-logo-min.jpg", class: "img-searchbar" %></td>

    <%= link_to "Batch \##{batch.name}", "/#{I18n.locale}/batches/#{batch.name}/" %>
  </h2>
  <h3 class="text-center"><%= t('batch_search.batch_number_of_students') %> <%= batch.students.where("fake": false).count %></h3>
</div>
