<section class='modal-student-container active'>
  <div class='modal-student-cross'><i class='mdi mdi-close'></i></div>
  <div>
    <div class='modal-student-arrows'>
      <a class='modal-student-arrow is-prev' data-toggle="tooltip" data-placement="right" data-trigger="hover">
        <span class='modal-student-arrow-img'></span>
        <i class='mdi-chevron-left mdi'></i>
      </a>
      <a class='modal-student-arrow is-next' data-toggle="tooltip" data-placement="right" data-trigger="hover">
        <span class='modal-student-arrow-img'></span>
        <i class='mdi-chevron-right mdi'></i>
      </a>
    </div>
  </div>
  <div class="modal-student-avatar">
    <a class='modal-student-avatar' data-toggle="tooltip" data-placement="right" data-trigger='hover'>
    </a>
  </div>
  <a class='modal-student-github' target='_blank' data-toggle="tooltip" data-placement="right" title='<%= t("modal.link_github_tooltip") %>'>
    <i class='mdi-github-circle mdi'></i></a>
  </a>
  <a class='modal-student-url' target='_blank' data-toggle="tooltip" data-placement="right" title='<%= t("modal.link_portfolio_tooltip") %>'>
    <i class='mdi mdi-link-variant'></i> <span></span>
  </a>
  <section class='modal-student'>
    <iframe></iframe>
  </section>
</section>


