// @keyframes loading {
//   0% { background-position: -75px; }
//   100% { background-position: 100vw; }
// }

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  z-index: 999;

  background: #fff image-url("preloader.gif") no-repeat center;
}
