  <!-- left navbar-->
  <div class="nav-items">
    <div class='modal-student-cross'><i class='mdi mdi-close'></i></div>
    <div class='modal-student-arrows'>
      <a class='modal-student-arrow is-prev' data-toggle="tooltip" data-placement="right" data-trigger="hover">
        <span class='modal-student-arrow-img'></span>
        <i class='mdi-chevron-left mdi'></i>
      </a>
      <a class='modal-student-arrow is-next' data-toggle="tooltip" data-placement="right" data-trigger="hover">
        <span class='modal-student-arrow-img'></span>
        <i class='mdi-chevron-right mdi'></i>
      </a>
    </div>
    <div class="modal-student-avatar">
      <a class='modal-student-avatar' data-toggle="tooltip" data-placement="right" data-trigger='hover'>
      </a>
    </div>
  </div>
  <section class='modal-student-container'>

  </section>
